body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background-image: url('https://previews.123rf.com/images/oraziopuccio/oraziopuccio1907/oraziopuccio190700016/128980921-sunny-summer-background-with-the-thermometer-marking-a-temperature-over-40-degrees-and-bright-sun-on.jpg');
    background-size:95%;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .result {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 3px;
  }
  